.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  padding: 0 16px;
  background-color: #f4f4f4;
  box-sizing: border-box;
}

.form {
  background: white;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h2 {
  margin-bottom: 16px;
  text-align: center;
  color: black;
}

p {
  margin-bottom: 16px;
  font-size: 0.95rem;
  text-align: center;
  color: black;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  background-color: #333;
  color: white;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #5e60ce;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 8px;
}

button:hover {
  background-color: #0056b3;
}

.links {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.link a {
  color: #007bff;
  text-decoration: none;
  font-size: 0.9rem;
}

.links a:hover {
  color: #007bff;
  text-decoration: underline;
}

.toggleMetodo {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 16px;
}

.toggleMetodo button {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
  color: #5e60ce;
}

.toggleMetodo button.active {
  background-color: #5e60ce;
  color: white;
  border: none;
}

/* Responsividade */
@media (max-width: 768px) {
  .form {
    padding: 20px;
  }

  h2 {
    font-size: 1.25rem;
  }

  p {
    font-size: 0.9rem;
  }

  input,
  button {
    font-size: 1rem;
  }
}
